---
http_interactions:
- request:
    method: get
    uri: http://data.sfgov.org/resource/rqzj-sfat.json?$limit=100&$order=approved%20DESC&$where=approved%20%3E%20'2014-09-27T21:37:14-08:00'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 06 Dec 2014 08:17:45 PST
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["location","expirationdate","permit","block","received","facilitytype","locationdescription","approved","fooditems","longitude",":updated_at","status","blocklot","noisent","cnn","priorpermit","schedule","address","applicant","lot",":id","latitude","objectid",":created_at","y","x"]'
      X-Soda2-Types:
      - '["location","calendar_date","text","text","text","text","text","calendar_date","text","number","meta_data","text","text","calendar_date","number","number","text","text","text","text","meta_data","number","number","meta_data","number","number"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: UTF-8
      string: |-
        [ {
          "location" : {
            "needs_recoding" : false,
            "longitude" : "-122.403952784111",
            "latitude" : "37.7662174644741"
          },
          "status" : "APPROVED",
          "expirationdate" : "2015-03-15T00:00:00",
          "permit" : "14MFF-0002",
          "block" : "3935",
          "received" : "Jan 24 2014  9:13AM",
          "facilitytype" : "Truck",
          "blocklot" : "3935005",
          "locationdescription" : "16TH ST: KANSAS ST to VERMONT ST (1700 - 1799)",
          "cnn" : "711000",
          "priorpermit" : "0",
          "approved" : "2014-12-02T12:04:27",
          "schedule" : "http://bsm.sfdpw.org/PermitsTracker/reports/report.aspx?title=schedule&report=rptSchedule&params=permit=14MFF-0002&ExportPDF=1&Filename=14MFF-0002_schedule.pdf",
          "address" : "1700 16TH ST",
          "applicant" : "Tres Agaves Mexican Kitchen & Tequila Lounge LLC. dba Tres Truck",
          "lot" : "005",
          "fooditems" : "Multiple Trucks - Everything",
          "longitude" : "-122.403952784121",
          "latitude" : "37.76621745068",
          "objectid" : "512358",
          "y" : "2107057.15",
          "x" : "6011356.434"
        }
        , {
          "location" : {
            "needs_recoding" : false,
            "longitude" : "-122.402136376169",
            "latitude" : "37.7654597512631"
          },
          "status" : "APPROVED",
          "expirationdate" : "2015-03-15T00:00:00",
          "permit" : "14MFF-0002",
          "block" : "3956",
          "received" : "Jan 24 2014  9:13AM",
          "facilitytype" : "Truck",
          [...]
