---
http_interactions:
- request:
    method: get
    uri: http://data.sfgov.org/resource/b6tj-gt35.json?$limit=100&$order=approved_date%20DESC&$where=permit_type%20IS%20NOT%20NULL%20AND%20streetname%20IS%20NOT%20NULL%20AND%20cross_street_1%20IS%20NOT%20NULL%20AND%20cross_street_2%20IS%20NOT%20NULL%20AND%20permit_start_date%20IS%20NOT%20NULL%20AND%20permit_end_date%20IS%20NOT%20NULL%20AND%20approved_date%20%3E%20'2014-11-21T17:21:53-08:00'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 28 Nov 2014 16:33:55 UTC
      X-Soda2-Warning:
      - X-SODA2-Fields, X-SODA2-Types, and X-SODA2-Legacy-Types are deprecated
      X-Soda2-Fields:
      - '["permit_address","permit_type",":updated_at","inspector","status","permit_start_date","permit_purpose","contact","agent","cnn","cross_street_2","cross_street_1","permit_zipcode","permit_number","agentphone","approved_date",":id",":created_at","permit_end_date","streetname"]'
      X-Soda2-Types:
      - '["text","text","meta_data","text","text","calendar_date","text","text","text","number","text","text","number","text","text","calendar_date","meta_data","meta_data","calendar_date","text"]'
      X-Soda2-Legacy-Types:
      - 'true'
      X-Socrata-Region:
      - production
    body:
      encoding: UTF-8
      string: |-
        [ {
          "permit_address" : "694 VALENCIA ST",
          "permit_type" : "TableChair",
          "status" : "APPROVED",
          "permit_start_date" : "2014-11-16T00:00:00",
          "permit_purpose" : "tables and chairs",
          "contact" : "Refer to Agent",
          "agent" : "Luna Park",
          "cross_street_2" : "18TH ST",
          "cnn" : "13063000",
          "cross_street_1" : "SYCAMORE ST",
          "permit_number" : "14TC-0566",
          "permit_zipcode" : "94110",
          "agentphone" : "415-553-8584",
          "approved_date" : "2014-11-26T16:16:44",
          "permit_end_date" : "2015-11-15T00:00:00",
          "streetname" : "VALENCIA ST"
        }
        , {
          "permit_address" : "2848 MISSION ST",
          "permit_type" : "Display",
          "status" : "APPROVED",
          "permit_start_date" : "2014-11-16T00:00:00",
          "permit_purpose" : "Non-food produce (Flowers, plants, etc.)",
          "contact" : "Refer to Agent",
          "agent" : "FLORERIA LA POBLANITA",
          "cross_street_2" : "25TH ST",
          "cnn" : "9126000",
          "cross_street_1" : "24TH ST",
          "permit_number" : "14D-0364",
          "permit_zipcode" : "94110",
          "agentphone" : "(415) 559-2259",
          "approved_date" : "2014-11-25T13:41:31",
          "permit_end_date" : "2015-11-15T00:00:00",
          "streetname" : "MISSION ST"
        }
        , {
          "permit_type" : "Excavation",
          "inspector" : "Melinda Hespen",
          "status" : "APPROVED",
          "permit_start_date" : "2014-11-25T00:00:00",
          "permit_purpose" : "Clay, Cherry and Collins Streets Sewer Replacement, Water Main Installation and Pavement Renovation(Contract No. WW-552R) (Additional work at the intersection of Spruce St. & Sacramento St. & adjacent streets.)",
          "contact" : "(415) 740-8008",
          "agent" : "Shaw Pipeline Inc.",
          "cross_street_2" : "SPRUCE ST",
          "cnn" : "1126800[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=694%20VALENCIA%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "694",
                       "short_name" : "694",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Valencia Street",
                       "short_name" : "Valencia St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mission Dolores",
                       "short_name" : "Mission Dolores",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
            [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=2848%20MISSION%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
         [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SACRAMENTO%20ST%20and%20LOCUST%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SACRAMENTO%20ST%20and%20SPRUCE%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SPRUCE%20ST%20and%20SACRAMENTO%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "result[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1000%20CLEMENT%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
         [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SPEAR%20ST%20and%20HARRISON%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=1201%20SOUTH%20VAN%20NESS%20AVE,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" :[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SOUTH%20VAN%20NESS%20AVE%20and%2019TH%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=965%20SUTTER%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=720%20MARKET%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
           [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=05TH%20AVE%20and%20END,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
      [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=PRECITA%20AVE%20and%20EMMETT%20CT,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results"[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3248%2022ND%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
            [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=3249%20SCOTT%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
           [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=03RD%20ST%20and%20GILMAN%20AVE%20%5C%20PAUL%20AVE,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
    [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=WINFIELD%20ST%20and%20VIRGINIA%20AVE,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "resul[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=529%20LIBERTY%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
          [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=134%20IRVING%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
           [...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=FRANKLIN%20ST%20and%20OFARRELL%20ST%20%5C%20STARR%20KING%20WAY,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=BOYLSTON%20ST%20and%20HALE%20ST,%20San%20Francisco,%20CA&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic,p=0.02
    body:
      encoding: UTF-8
      string: |
        {
           "results" :[...]
[...]
